.multiple-selection-container {
    background-color: #f0f0f0;
    border: 2px solid #000000;
    border-radius: 8px;
    padding: 10px;
    margin-bottom: 15px;
  }

  .multiple-selection-checkbox {
    font-weight: bold;
    color: black;
    display: flex;
    align-items: center;
  }

  .multiple-selection-checkbox .form-check-input {
    transform: scale(1.5);
    margin-right: 10px;
    order: 2;
    margin-left: 10px;
  }

  .multiple-selection-checkbox .form-check-label {
    order: 1;
  }